<footer class="site-footer">

  <div class="footer-wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <ul class="social-footer">
    {% if site.email %}
      <li><a href="{{ site.email }}" target="_blank"><i class="<i class="fas fa-envelope-open-text"></i>" aria-hidden="true"></i></a></li>
    {% else %}
    {% endif %}
    {% if site.github %}
      <li><a href="{{ site.github }}" target="_blank"><i class="<i class="fab fa-github"></i>" aria-hidden="true"></i></a></li>
    {% else %}
    {% endif %}
    </ul>

    <div class="copyright">
      <p><a href="https://www.github.com/caychen">Proudly powered by Caychen</a></p>
    </div>
  </div>

</footer> <!-- /.site-footer -->
